.view-members {
	@include pinks-bg-gradient-2;

	.login {
        padding: 2.5rem 0 4.5rem;

		form {
			.form-group {
				.form-control {
					@include placeholder {
						color: map-get($purples, "100");
					}
				}
	
				.form-check {
					position: inherit;
					padding-left: 0;
		
					&-input {
						@include transform(scale(1.30));
		
						position: inherit;
						margin-left: 0;
					}
				}	
			}
		}	
	}
}